:root{
    --font: 'Open Sans', sans-serif;
}


body{
    margin: 0 0;
    padding: 0 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:  #000;
}

*{
    box-sizing: border-box;
}

/* HEADER */

.header{
    background: #000000 url("/../img/header.png") no-repeat center top / cover;
    padding-top: 0;
    height: 810px;
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    direction: column;
    padding-right: 115px;
}


.logo{
    margin-top: 40px;
    flex-grow: 1;
    position: relative;
    padding-left: 115px;
    font-family: var(--font);

}
.nav__element{
    font-family: var(--font);
    margin-left: 40px;
    font-weight: 600;
    font-size: 20px;
}


.navbar{
    background: white;
    position: sticky;
    display: flex;
    height: 115px;
    align-content: center;
    max-width: 100%;
}

#intro{
    display: flex;
    padding-top: 65px;
    justify-content: center;
    flex-direction: column;
}


@media all and (max-width: 768px) {
  .nav__list > li {
    flex-basis: 100%;
  }
  .header{
      height: auto;
  }
  .navbar{
      height: auto;
      width: 100vw;
  }
  .logo {
    flex-grow: 0;
  }

  #container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
  }
  .section1{
      height: auto;
  }

  .wrapper3{
      margin: auto;
  }
  
}

.title{
    font-family: var(--font);
    font-weight: 600;
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 0;
}

.header__subtitle{
    font-family: var(--font);
    font-weight: 600;
    font-size: 22px;
    color: white;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    padding-top: 115px;
    
}

.header__button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 13px;
    height: 70px;
    width: 220px;
    transition: all 100ms;
}

.header__button:hover{
    border: 2px solid #00897b;
    background-color: #00897b;
}

.angle{
    color: white;
    text-align: center;
    padding-top: 100px;
}

/* ABOUT US */

.about{
    min-height: 675px;
}

.about__us__text{
    padding-top: 125px;

}
.wrapper2{
    padding-top: 115px;
    padding: 0 115px;
}

.big__text{
    font-family: var(--font);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.small__text{
    font-family: var(--font);
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.medium__text{
    font-family: var(--font);
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}



.under__text{
    padding-top: 35px;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
}

.img__about{
    padding-bottom: 40px;
}

#container{
    padding-top: 125px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    width: auto;
    padding: 115px 0;
}

.child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    text-align: center;
}

/* OUR SERVICES */

.our__serv{
    background-color: #e4fdf9;
    min-height: 1410px;
}

.wrapper3{
    padding-top: 115px;
    margin: 0 115px;
}

.our__services{
    display: flex;
    padding-top: 125px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.smartphone{
    padding-top: 60px;
}

.our__el__text{
    padding-top: 40px;
    padding-bottom: 25px;
}

.our__button__position{
    padding-top: 20px;
}

.our__button{
    padding: 12px 19px;
    font-family: var(--font);
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #000;
}

.our__button--hover{
    filter: invert(100%);
}
.our__el__back{
    background-color: #fff;
    max-width: 370px;
    height: 470px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.3s; 
    margin: 16px 16px;
}

.our__el__back--hover{
    background-color: #00897b;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.our__el__content{
    height: 100%;
}